*{
padding: 0;
margin: 0;
max-width: 100%;
box-sizing: border-box;
}
.logo {
    width: 110px;
    margin-left: 10PX;
    margin-top: 15px;
    margin-bottom: 30PX;
    
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: orangered;
    
}
.div1 {
    display: FLEX;
   
}
.Menu button{
    margin-right: 10PX;
    width: 150PX;
    height: 41PX;
    margin-top: 40PX;
    padding-left: 6PX;
}
.map button{
    margin-right: 15PX;
    width: 150PX;
    height: 41PX;
    margin-top: 40PX;
    padding-left: 6Px;
}
.sec1{
    background-image: url(backg.jpg);
    height: 500px;
    width: 1500px;
    background-size: cover;
    max-width: 100%;
   
}
.sec1 form div{
    display: flex;
    flex-direction: column;
    max-width: 115%;
}
form{
    width: 370px;
    margin-left: 80px;
    padding-top: 80px;
}
.text1 ,.text2, button{
    margin-bottom:50px ;
    padding-left: 20PX  ;
    margin-left: 20px;
    margin-right: 20px;
    height: 40PX;
    border-radius: 3PX;
    
}
.div2{
    background-color: #88E0EF;
    border-radius: 8PX;
    height: 370PX;

}
.text1{margin-top: 10px;}
.but2{
    background-color: #FF9B6A;
}