*{
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
/*menu*/
.secmenu{
    background-image: url(backg.jpg);
    background-size: cover;
    height:600px;
}
.logo {
    width: 110px;
    margin-left: 140PX;
    margin-top: 15px;
   min-width: 80px; 
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #161e549f;
  
}

.div1{
    display: FLEX;
    justify-content: space-between;
    width: 800px;
}
.divli{
    display: flex;
}

.home, .rom,.blog ,.us{
    width: 110PX;
    height: 41PX;
    margin-top: 40PX;
    padding-left: 6PX;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    min-width: 80PX;
}
.home a:hover ,.rom a:hover,.blog a:hover ,.us a:hover{
color: #41679A;
}
.home a,.rom a,.blog a ,.us a{
text-decoration: none;
color: white;
}

.BOOK {
margin-left: 40px;
width: 110PX;
height: 41PX;
margin-top: 40PX;
padding-left: 6Px;
background-color:#41679A;
color: white;
border: none;
align-self: flex-start;
}
.BOOK :hover {
color: #17246471;}
.BOOK  a{
 text-decoration: none;
 color: #ffffff;}
 
  
 /* section1 */
.sec1{
    max-width: 100%;}
    .p1{
        width: 70%;
        margin-left: 80px;
        margin-top: 10px;
    }
    .text1{
        margin-top: 50px;
    }
    .text2{
        margin-top: 20px;
    }
    .but2{
        margin-top: 20px;
    }
    .sec1 form div{
            display: flex;
            flex-direction: column;
            max-width: 115%;
        }
    form{
            width: 370px;
            margin-left: 80px;
            padding-top: 80px;
        }
    .text1 ,.text2, button{
            padding-left: 20PX  ;
            margin-left: 20px;
            margin-right: 20px;
            height: 50PX;
            border-radius: 3PX; 
        }
    .div2{
            background-color: #161e54d2;
            border-radius: 8PX;
            height: 370PX;
        
        }
    
    .but2{
            background-color: #41679A;
        }
        @media (max-width: 858px){
            nav{
                flex-direction: column;
            }
       .logo{
         margin-left: 37%;
       }
       ul{
           flex-direction: column;
       }
       .div1, .BOOK button{
           display: flex;}
       .div1 li{
           margin-left: 5px;
           width: 90%;
           margin-bottom: 5px;
       }
       .BOOK {margin-right: 5px;
          margin-top:  25px;}
        .text1 ,.text2 {
             width: 90%;
             height: 40px;
          }
          .but2 {width: 90%;
            height: 10%;
        }
       .div2{height: 300px;
       }
        
       }
      
/*section2*/
.p2 ,.p3{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30PX;
}
.pt{
    text-align: center;
    margin-bottom: 15PX;
    margin-top: 10PX;
}
/*footer*/    
footer{
    display: flex;
    background-color: #7A7C7C;
 justify-content: space-between;
    flex-wrap: wrap;
    height: 200PX;
    width:1440PX;
    margin-top: 40PX;
    padding-top: 20PX;
    
}
footer ul{
    list-style: none;

}

.li4{
    padding-right: 40PX;
}
.li1{
    padding-left: 40PX;
}
/*page2*/
.map1{
    width: 500px;
    margin-top: 20px;
    margin-left: 30PX;
    margin-bottom: 90px;
    max-width: 600px;
}
.sec12{
    display: flex;
   flex-wrap: wrap;
  
}
.lis{
    margin-top: 50PX;
    margin-left: 40px;
    list-style: none;
}
.p22{
    margin-left: 45px;
    margin-top: 10px;
}
 /*page3*/
.img3{
width: 550PX;
margin-left: 25px;
margin-top: 35px;
} 
.star{
    color: darkgoldenrod;
    margin-top: 20px;
}
.sec22{
    display: flex;
    flex-wrap: wrap;
    
    
    
}
.text4{
    width: 400px;
    margin-top: 70px;
    margin-left: 50px;
    list-style: none;
}
.mani{
    margin-bottom: 20px;
}
.lor1{
    margin-top: 30px;
}
.lor2{
    margin-top: 20px;
}
/* section4 */
.sec45{
    background-image: url(p2.jpg);
    max-width: 100%;
    width: 1440px;
    height: 550px;
    background-size: cover;
    }
    .sec4{
      display: flex;
     height: 15%;
      width: 60%;
      margin-left: 60px;
      margin-top: 35px;
      background-color: gray;
      border-radius: 5px;
    }
    
    .sec4 p{
      width: 55%;
      padding-top: 30px;
      display: flex;
      justify-content: center;
      
    }
    .sec5{
      margin-bottom: 49px;
    height: 70%;
    border-radius: 5px;
      background-color: gray;
      max-width: 80%;
      margin-left:40px;
    }
    .ima2{
      margin-top: 40px;
    
      text-align: center;
      max-width: 70%;
     
    }
    .sec5{
      text-align: center;
      
    }
    .pato{
      margin-top: 60px;
    }
    @media (max-width: 858px){
        .sec4{
          margin-top: 10px ;
          border-radius: 5px;
          width: 65%;
          height: 10%;
          margin-right: 50px;
          background-color: grey;
        }
        .p11{
          border-radius:5px ;
        }
        .sec4 p{
        
         padding-left: 5px;
          display: flex;
          margin-right:20px;
        }
        .sec45{margin-top: 40px;}
        .sec5{
          border-radius: 5px;
          max-width: 90%;
          margin-right: 27px;
          padding-left: 12px;
          margin-bottom: 90px;
          height: 460px;

        }
        }