*{
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.logo {
    width: 110px;
    margin-left: 10PX;
    margin-top: 15px;
    margin-bottom: 30PX;
    
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: orangered;
    
}
.div1 {
    display: FLEX;
   
}
.Menu button{
    margin-right: 10PX;
    width: 150PX;
    height: 41PX;
    margin-top: 40PX;
    padding-left: 6PX;
    background-color: #161E54;
    color: rgb(255, 255, 255);
}
.map button{
    margin-right: 15PX;
    width: 150PX;
    height: 41PX;
    margin-top: 40PX;
    padding-left: 6Px;
    background-color: #161E54;
    color: white;
}
.sec1{
    background-image: url(backg.jpg);
    height: 500px;
    width: 1500px;
    background-size: cover;
    max-width: 100%;}
.p1{
    width: 70%;
    margin-left: 80px;
    margin-top: 10px;
}
.text1{
    margin-top: 50px;
}
.text2{
    margin-top: 20px;
}
.but2{
    margin-top: 20px;
}
.sec1 form div{
        display: flex;
        flex-direction: column;
        max-width: 115%;
    }
form{
        width: 370px;
        margin-left: 80px;
        padding-top: 80px;
    }
.text1 ,.text2, button{
        padding-left: 20PX  ;
        margin-left: 20px;
        margin-right: 20px;
        height: 50PX;
        border-radius: 3PX; 
    }
.div2{
        background-color: #88E0EF;
        border-radius: 8PX;
        height: 370PX;
    
    }

.but2{
        background-color: #FF9B6A;
    }
footer{
    display: flex;
    background-color: #88E0EF;
 justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
footer ul{
    list-style: none;

}
.p2 ,.p3{
    text-align: center;
    margin-top: 45px;
}
